repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.3.2
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
- repo: https://github.com/psf/black
  rev: 23.9.1
  hooks:
    - id: black
- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
    - id: isort
- repo: https://gitlab.com/pycqa/flake8
  rev: 6.1.0
  hooks:
    - id: flake8
